-let places = ['1st-Place', '2nd-Place', '3rd-Place', '4th-Place', '5th-Place', '6th-Place', '7th-Place', '8th-Place', '9th-Place', '10th-Place']
-let prizes = ['$500', '$400', '$300', '$200', '$100', '$100', '$100', '$100', '$100', '$100']

section(class="s-center main-container__table")
	h2 Tournament Rewards
	h3(class="main-container__table--h3") December 1st 2020 - January 1st 2021
	div(class="main-container__table--mobile")
		div(class="ed-item main-container__table--wrapper")
			img(src="assets/img/Gorro.svg", alt="" class="ed-item main-container__table--gorro")
			div(class="ed-container main-container__table--div")
				table(class="ed-item main-container__table--table")
					colgroup(class="ed-item main-container__table--colgroup") 
						col(class="ed-item main-container__table--col1")
						col(class="ed-item main-container__table--col2")
					tbody(class="main-container__table--tbody")
						each place, key in places 
							tr(class="main-container__table--tr") 
								td(class="main-container__table--td")= place
								td(class="main-container__table--td")= prizes[key]
			img(src="assets/img/Arbol.svg", alt="" class="ed-item main-container__table--arbol")
	
	div(class="main-container__table--desktop")
		div(class="ed-item main-container__table--wrapper")
			img(src="assets/img/Gorro.svg", alt="" class="ed-item main-container__table--gorro")
			div(class="ed-container main-container__table--div")
				table(class="ed-item main-container__table--table")
					colgroup(class="ed-item main-container__table--colgroup") 
						col(class="ed-item main-container__table--col1")
						col(class="ed-item main-container__table--col2")
					tbody(class="main-container__table--tbody")
						each place, key in places 
							tr(class="main-container__table--tr") 
								td(class="main-container__table--td")= place
								td(class="main-container__table--td")= prizes[key]
			img(src="assets/img/Arbol.svg", alt="" class="ed-item main-container__table--arbol")
		div(class="ed-item main-container__table--wrapper")
			img(src="assets/img/Bastones.svg", alt="" class="ed-item main-container__table--bastones")
			div(class="ed-container main-container__table--div")
				table(class="ed-item main-container__table--table")
					colgroup(class="ed-item main-container__table--colgroup") 
						col(class="ed-item main-container__table--col1")
						col(class="ed-item main-container__table--col2")
					tbody(class="main-container__table--tbody")
						each place, key in places 
							tr(class="main-container__table--tr") 
								td(class="main-container__table--td")= place
								td(class="main-container__table--td")= prizes[key]
			img(src="assets/img/Galleta.svg", alt="" class="ed-item main-container__table--arbol")


